body[ng-cloak] {
  display:none;
}

body {
  margin: 0;
  & > div.wrapper {
    height: 95vh;
  }

  & div.copyright {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: white;
    opacity: 0.5;
    & .title {
      font-weight: bold;
    }
  }
}

app {
  height: 100%;
  > section {
    height: 100%;
  }
}

.user-info {
  align-content: center;
  justify-content: center;
}

.branch-group {
  border: 1px solid #ddd;
  border-radius: 3px
}

.view-animate-container {
  position:relative;
  height:600px!important;
  background:white;
}

.view-animate {
  padding:10px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  display:block;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}

.view-animate.ng-enter {
  left:100%;
}

.view-animate.ng-enter.ng-enter-active {
  left:0;
}

.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}

ul.result-list {
  list-style: none;
  padding: 0;
}

ul.result-list li {
  margin-bottom: 10px;
}

md-list-item.contact-repo {
  width: 190px;
  max-width: 190px;
  float: left;
  box-sizing: border-box;
  > a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  > .md-list-item-text {
    padding: 8px;
    background: #f0f0f0;
    border-radius: 3px;
  }
}

img.img-responsive {
  width: 230px;
}
