<div class="row-fluid record" ng-animate-ref="{{ profile.login }}">
  <div class="col-md-4">
    <img class="img-responsive" ng-src="{{ profile.details.avatar_url }}" alt="Full avatar" />
    Login: <b>{{ profile.details.login }}</b><br />
    <span ng-if="profile.details.email">
      Mail: {{ profile.details.email }}<br />
    </span>
    Name: <b>{{ profile.details.name ? profile.details.name : '-' }}</b>
    <hr />
  </div>
  <div class="col-md-8">
    <strong>Repositories</strong><hr />
    <ul ng-show="profile.isShow">
      <li ng-repeat="repo in profile.repos" ng-animate-ref="{{ repo.name }}">
        <a ng-href="#/repo/{{ profile.login }}/{{ repo.name }}">{{ repo.name }}</a>
      </li>
      <li ng-if="profile.repos.length == 0">
        <i>No results found...</i>
      </li>
    </ul>
    <hr />
  </div>
</div>
