<md-toolbar layout-padding class="md-medium-tall" layout="row">
    <form name="searchForm" ng-submit="searchForm.$valid && $ctrl.newSearch(searchQuery)" novalidate layout="row">
        <md-input-container class="md-block">
            <label>Github User</label>
            <input ng-model="searchQuery" type="text" required/>
        </md-input-container>
        <md-button class="md-raised" type="submit">Search</md-button>
        <md-button class="md-raised" ng-if="$ctrl.backButtonShow" ng-click="$ctrl.back()">Back</md-button>
    </form>
    <div layout="row" layout-align="start center" flex>
        <p>{{ $ctrl.subscription }}</p>
    </div>
    <div layout="column" layout-align="center none">
        <md-icon md-font-set="material-icons" aria-label="Favorite" class="md-36"
                 ng-class="{favorite: $ctrl.isFavorited($ctrl.subscription)}"
                 ng-click="$ctrl.switchFavorite($ctrl.subscription)">
            favorite
        </md-icon>
    </div>
</md-toolbar>
<section layout="row">
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" layout="column">
        <left-list type="favorites" name="My favorites" flex="60"></left-list>
        <left-list type="recent" name="Recent list" flex></left-list>
    </md-sidenav>
    <ng-outlet layout-fill></ng-outlet>
</section>
