<md-toolbar layout-padding class="md-medium-tall" layout="row">
    <form name="searchForm" ng-submit="searchForm.$valid && $ctrl.newSearch(searchQuery)" novalidate layout="row">
        <md-input-container class="md-block">
            <label>Github User</label>
            <input ng-model="searchQuery" type="text" required/>
        </md-input-container>
        <md-button class="md-raised" type="submit">Search</md-button>
        <md-button class="md-raised" ng-if="$ctrl.backButtonShow" ng-click="$ctrl.back()">Back</md-button>
    </form>
    <div layout="row" layout-align="start center" flex>
        <p>{{ $ctrl.subscription }}</p>
    </div>
    <div layout="column" layout-align="center none">
        <md-icon md-font-set="material-icons" aria-label="Favorite" class="md-36"
                 ng-class="{favorite: $ctrl.isFavorited($ctrl.subscription)}"
                 ng-click="$ctrl.toFavorite($ctrl.subscription)">
            favorite
        </md-icon>
    </div>
</md-toolbar>
<section layout="row">
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" layout="column">
        <md-content class="favorites" flex="60">
            <md-subheader>My favorites</md-subheader>
            <md-list>
                <md-list-item ng-repeat="user in favorites" ng-bind="user" ng-click="clickList($event)" aria-label="{{ ::user }}">
                </md-list-item>
            </md-list>
        </md-content>
        <md-content class="recent" flex>
            <md-subheader>Recent</md-subheader>
            <md-list>
                <md-list-item ng-repeat="user in recent" ng-bind="user" ng-click="clickList($event)" aria-label="{{ ::user }}">
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
    <md-content layout-fill>
        <md-subheader>Workshop</md-subheader>
        <ng-outlet></ng-outlet>
    <md-content>
</section>

