<user-info profile="$ctrl.info.detailProfile"></user-info>
<!--class="md-padding" -->
<md-subheader class="md-no-sticky">Repositories</md-subheader>
<md-content layout="column" flex>
    <md-list>
        <md-list-item class="md-1-line contact-item contact-repo" ng-repeat="repo in $ctrl.info.repositories"
                      ng-if="$ctrl.info.repositories.length" layout="row" layout-wrap>
            <div class="md-list-item-text compact" flex>
                <a ng-href="/repository/{{ ::$ctrl.login }}/{{ ::repo.name }}" ng-bind="repo.name"></a>
            </div>
        </md-list-item>
        <md-list-item ng-if="!$ctrl.info.repositories.length">
            <i>No results found...</i>
        </md-list-item>
    </md-list>
</md-content>
