<md-content layout="row">
    <md-content layout="column">
        <md-subheader>Details</md-subheader>
        <img class="img-responsive" ng-src="{{ profile.info.detailProfile.avatar_url }}" alt="Full avatar"/>

        Login: <b ng-bind="profile.info.detailProfile.login"></b><br/>
        <span ng-if="profile.info.detailProfile.email">
            Mail: <span ng-bind="profile.info.detailProfile.email"><span><br/>
        </span>
        Name: <b>{{ profile.info.detailProfile.name ? profile.info.detailProfile.name : '-' }}</b>
    </md-content>
    <!--class="md-padding" -->
    <md-content layout="column" flex>
        <md-list>
            <md-subheader class="md-no-sticky">Repositories</md-subheader>
            <md-list-item class="md-1-line contact-item contact-repo" ng-repeat="repo in profile.info.repositories"
                          ng-if="profile.info.repositories.length" layout="row" layout-wrap>
                <div class="md-list-item-text compact" flex>
                    <a ng-href="#/repo/{{ ::profile.login }}/{{ ::repo.name }}" ng-bind="repo.name"></a>
                </div>
            </md-list-item>
            <md-list-item ng-if="!profile.info.repositories.length">
                <i>No results found...</i>
            </md-list-item>
        </md-list>
        <md-divider></md-divider>
    </md-content>
</md-content>
<ng-outlet></ng-outlet>
