<user-info profile="$ctrl.info.detailProfile"></user-info>
<!--class="md-padding" -->
<md-subheader class="md-no-sticky">Repositories</md-subheader>
<md-content layout="row" layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>
    <md-whiteframe
            class="md-whiteframe-3dp" layout-align="center center" layout layout-margin
            ng-repeat="repo in $ctrl.info.repositories" flex-sm="30" flex-gt-sm="20" flex-gt-md="20">
        <a ng-href="/repository/{{ ::$ctrl.login }}/{{ ::repo.name }}" ng-bind="repo.name"></a>
    </md-whiteframe>
    <div ng-if="!$ctrl.info.repositories.length">
        <i>No results found...</i>
    </div>
</md-content>
