<md-subheader>Following list</md-subheader>
<md-content layout-padding ng-cloak>
    <md-list ng-if="$ctrl.readyToShowResults">
        <md-list-item ng-repeat="user in $ctrl.info.users" ng-animate-ref="{{ ::user.login }}">
            <a class="md-list-item-text" ng-href="/profile/{{ ::user.login }}" layout="row"
               layout-align="center center">
                <img class="md-avatar" ng-src="{{ ::user.details.avatar_url }}" width="42" alt="Avatar"/>
                <strong ng-bind="user.details.login"></strong>&nbsp;
                <span ng-show="user.details.email">{{ '&lt;' + user.details.email + '&gt;'}}</span>
            </a>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
        <div ng-if="$ctrl.showNoResults()">
            <i>No results found...</i>
        </div>
    </md-list>
</md-content>
