body {
  padding-top: 10px;
}

.branch-group {
  border: 1px solid #ddd;
  border-radius: 3px
}

.view-animate-container {
  position:relative;
  height:600px!important;
  background:white;
}

.view-animate {
  padding:10px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  display:block;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}

.view-animate.ng-enter {
  left:100%;
}

.view-animate.ng-enter.ng-enter-active {
  left:0;
}

.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}

ul.result-list {
  list-style: none;
  padding: 0;
}

ul.result-list li {
  margin-bottom: 10px;
}

.btn-control {
  position: relative;
}

.back-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 5px 8px;
  margin-right: 10px;
  font-size: 12px;
  color: #337ab7;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e1e1e8;
  border-radius: 0 4px 0 4px;
}
