doctype html
html(lang="en-US")
    head
        meta(charset="UTF-8").
        meta(name="viewport", content="width=device-width, initial-scale=1").
        link(rel="stylesheet", type="text/css", href="/libs/angular-material.min.css").
        link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/icon?family=Material+Icons").
        link(rel="stylesheet", type="text/css", href="/css/main.css").
        title My following on GitHub
        base(href="/").
    body(ng-app="app", ng-cloak)
        div.wrapper
            app(layout="row", layout-padding) Loading...
        div.copyright
            p.title My following on
                a(href="https://github.com") Github
        //- Third party libraries
        script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/es6-shim/0.33.3/es6-shim.min.js").
        script(type="text/javascript", src="/libs/angular.min.js").
        script(type="text/javascript", src="/libs/angular_1_router.js").
        script(type="text/javascript", src="/libs/angular-animate.min.js").
        script(type="text/javascript", src="/libs/angular-aria.min.js").
        script(type="text/javascript", src="/libs/angular-messages.min.js").
        script(type="text/javascript", src="/libs/angular-material.min.js").
        //- Application scripts
        if production
            script(type="text/javascript", src="/js/bundle.min.js").
        else
            script(type="text/javascript", src="/js/bundle.js").
