<h2 ng-bind="repo.title()"></h2>
<md-divider></md-divider>
<md-content layout="row">
    <md-content layout="column" flex="25">
        <md-subheader>Branches</md-subheader>
        <md-divider></md-divider>
        <md-list ng-show="repo.info.isShowBranches">
            <md-list-item ng-repeat="branch in repo.info.branches" ng-bind="branch.name"></md-list-item>
        </md-list>
    </md-content>
    <md-content layout="column" flex ng-show="repo.info.isShowCommits">
        <md-subheader>Commits</md-subheader>
        <md-divider></md-divider>
        <md-list>
            <md-list-item ng-repeat="commit in repo.info.commits" layout="row">
                {{ ::$index + 1 }})&nbsp;{{ ::commit.commit.message }}
            </md-list-item>
        </md-list>
    </md-content>
</md-content>
