<div>
  <div class="row-fluid">
    <h2 ng-bind="repo.title()"></h2>
  </div>
  <div class="col-md-4 branch-group" ng-show="repo.info.isShowBranches">
    <h4>Branches</h4><hr />
    <ul class="branch-list">
      <li ng-repeat="branch in repo.info.branches" ng-bind="branch.name"></li>
    </ul>
  </div>
  <div class="col-md-8 commit-group" ng-show="repo.info.isShowCommits">
    <h4>Commits</h4><hr />
    <ol class="commit-list">
      <li ng-repeat="commit in repo.info.commits">{{ ::commit.commit.message }}</li>
    </ol>
    <hr />
  </div>
</div>
